streamlit==1.48.0
spacy==3.8.7
nltk==3.9.1
pandas==2.3.1
numpy==2.3.2
networkx==3.5
matplotlib==3.10.5
plotly==6.3.0
dateparser==1.2.2
transformers==4.55.2
torch==2.8.0
scikit-learn==1.7.1
regex==2025.7.34
datasets==4.0.0
